@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #09003C;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

input{
  @apply border-2;
}

.btn{
  @apply bg-[#9252FE] hover:bg-[#5F2EB1] text-white font-bold py-6 px-16 rounded-[10px];
}

.btn-red{
  @apply bg-[#FF1E5E] hover:bg-[#cf0f46] text-white font-bold py-6 px-16 rounded-[10px];
}

.btn-yellow{
  @apply bg-[#FFD237] hover:bg-[#c9a31c] text-white font-bold py-6 px-16 rounded-[10px];
}