@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #09003C;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

input{
  @apply border-2;
}

.btn{
  @apply bg-[#726BDF] hover:transition-all hover:bg-[#5853AF] text-white font-bold py-5 px-16 rounded-lg;
}
.btn-navy{
  @apply bg-[#22252D] hover:bg-[#373B45] text-white font-bold py-5 px-16 rounded-lg;
}

.btn-red{
  @apply bg-[#FF1E5E] hover:bg-[#cf0f46] text-white font-bold py-5 px-16 rounded-lg;
}

.btn-yellow{
  @apply bg-[#fec652] hover:bg-[#f7b142] text-white font-bold py-5 px-16 rounded-lg;
}